body{
    background-color:#82a43a;
    margin: 50px;
}

span{
    padding: 10px;
    display: inline-block;
    width:150px;
}
button{
    margin: 10px;
    margin-left: 200px;
    height: 30px;
    width: 90px;
}