body{
    background-color:#82a43a;
    margin: 50px;
}

#container{
    height: 350px;
    width: 500px;
    border-collapse: collapse;
}
.demo{
border: 1px solid black;
padding: 10px;
margin: 20px;
}