<h1>Add Planet</h1>
<link rel="stylesheet" href="/css/addPlanet.css">
<div id="idContainer">
    <div>
        <span>Name:</span>
        <input type="text" id="starName">
    </div>
    <div>
        <span>Orbital Period</span>
        <input type="text" id="OrbitalPeriod">
    </div>
    <div>
        <span>Image</span>
        <input type="text" id="starImage">
    </div>
    <div>
        <span>
            <button onclick="addPlanet()">Add Planet</button>
            <button onclick="cancel()">Cancel</button>
        </span>
    </div>

</div>
<script src="/scripts/addPlanet.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>