<link rel="stylesheet" href="/css/editPlanet.css">
<div id="container">
    <div>
        <span>Name:</span>
        <input type="text" id="editName" value="{{name}}">
    </div>
    <div>
        <span>Orbital Period:</span>
        <input type="text" id="editOrbitalPeriod" value="{{orbitalPeriod}}">
    </div>
    <div>
        <span>Image</span>
        <input type="text" id="editImage" value="{{image}}">
    </div>
    <div>
        <button onclick="savePlanet({{planetid}})">Save</button>
    </div>
    <div>
        <button onclick="clearPlanet({{planetid}})">Clear</button>
    </div>
</div>
<script src="/scripts/editPlanet.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
