    <h1>Single planets Details</h1>
    <link rel="stylesheet" href="/css/planetDetails.css">
    <div id="container">
        <div>
            <span>Id:</span>
            <span>{{planetid}}</span>
        </div>
        <div>
            <span>Name:</span>
            <span>{{name}}</span>
        </div>
        <div>
            <span>OrbitalPeriod:</span>
            <span>{{orbitalperiod}}</span>
        </div>
        <div>
            <span>image:</span>
            <img src="/images/{{image}}">
        </div>
    </div>
    <a href="/solarsystem">list of planets</a>